* {
    margin: 0;
    font-family: 'Jost', sans-serif;
    scroll-behavior: smooth;
}
header {
    height: 90px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-size: cover;
    position: fixed;
    border-bottom: 1px solid grey;
    background-color: white;
    width: 100%;
}

header h1 {
    text-align: left;
    position: relative;
    padding-left: 35px;
    background-color: white;
}

.link {
    text-decoration: none;
    color: rgb(0, 120, 0);
    position: relative;
}

.link:after {
    content: "";
    position: absolute;
    background-color: rgb(0, 120, 0);
    height: 2px;
    width: 0;
    left: 0;
    bottom: -7px;
    transition: 0.3s;
}

.link:hover:after {
    width: 100%;
}

.web, 
.light-txt {
    background-color: white;
}

.dark-txt {
    color: rgb(0, 120, 0);
}

.light-txt {
    color: rgb(0, 185, 0);
}

.web {
    font-size: 0.5em;
    font-weight: 200;
    color: rgb(0,185,0);
}

.nav {
    text-align: right;
    display: flex;
    flex-direction: row;
    padding-right: 40px;
    background-color: white;
}

.nav li {
    padding: 20px;
    background-color: white;
    list-style: none;
    font-size: large;
    color: rgb(0, 120, 0);
}

.barn {
    background-color: rgba(0, 140, 0, 0.15);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-top: 90px;
    flex-wrap: wrap;
}

.barn-txt {
    height:auto;
    text-align: center;
    margin-right: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px 0;
}

.barn-img {
    flex: 1;
    width: 40%;
    padding-right: 50px;
    
}

.barn img {
    margin: 75px 30px;
    width: 100%;
    height: auto;
}

.barn-txt h2{
    padding-bottom: 50px;
    font-size: xx-large;
    letter-spacing: 1px;
    color: rgb(0, 120, 0);
    font-weight: 900;
}

.barn-txt p {
    padding-bottom: 50px;
    font-weight: 300;
    color: rgb(0, 120, 0);
}

.barn-txt button {
    width: 40%;
    height: 40px;
    border-radius: 20px;
    border: 2px solid rgb(0, 90, 0);
    background-color: white;
    transition: background-color 0.4s ease-out;
    color: rgb(0, 120, 0);
}

.but {
    letter-spacing: 0.5px;
    
}

.but:hover {
    background-color: rgb(0, 90, 0);
    cursor: pointer;
}

.but:hover {
    color: white;
    font-weight: 600;
}

.barn-txt a {
    text-decoration: none;
    color: rgb(0, 90, 0);
}

.cartshed {
    background-color: rgba(0, 140, 0, 0.25);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.cart-txt {
    height:auto;
    text-align: center;
    margin-right: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px 0;
}

.cartshed-img {
    flex: 1;
    width: 40%;
    padding-right: 60px;
    
}

.cartshed img {
    margin: 75px 30px;
    width: 100%;
    height: auto;
}

.cart-txt h2{
    padding-bottom: 50px;
    font-size: xx-large;
    letter-spacing: 1px;
    color: rgb(0, 120, 0);
}

.cart-txt p {
    padding-bottom: 50px;
    font-weight: 300;
    color: rgb(0, 120, 0);
}

.cart-txt button {
    width: 40%;
    height: 40px;
    border-radius: 20px;
    border: 2px solid rgb(0, 90, 0);
    background-color: white;
    transition: background-color 0.6s ease-out;
    color: rgb(0, 120, 0);
}

.but:hover {
    background-color: rgb(0, 90, 0);
    cursor: pointer;
}

.cart-txt a {
    text-decoration: none;
    color: rgb(0, 90, 0);
}

@media only screen and  (max-width: 683px) {
    .barn,
    .cartshed {
        flex-direction: column;
    }

    .cartshed-img,
    .barn-img {
        width: 70%;
        
    }

    .barn-txt {
        width: 80%;
        padding-bottom: 60px;
        padding-top: -10px;
        justify-content: center;

    }

    .cart-txt {
        width: 80%;
        padding-top: 60px;
        padding-bottom: 10px;
        justify-content: center;
    }

    .nav {
        display: none;
    }

    header {
        justify-content: center;
    }
}